@import url("navbarSheet.css");

#navContact {
    border: 3px solid white;
    border-style: none none solid none;
}

.ContactHead {
    position: relative;
    height: 270px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider{
    margin: 5px 5px 0px 5px;
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.slider img{
    position: absolute;
    width: 100%;
    height: 270px;
}

.ContactHead h1 {
    text-align: right;
    padding: 100px;
    padding-right: 20%;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.details {
    display: flex;
    float: left;
    background-color: white;
    width: 100%;
}

table {
    color: black;
    margin-right: 5%;
}

.details th {
    padding: 20px;
    text-align: right;
    width: 20%;
}

.details td {
    padding: 20px;
    text-align: left;
    width: 60%;
    border-style: none none solid none;
    border-width: thin;
    border-color: black;
}

.socialMedia img {
    float: right;
    width: 40%;
    margin-right: 30%;

}

.inquireform{
    color: white;
    font-size: 21px;
    background-color: rgba(63, 62, 62, 0.3);
    padding: 10px;
    display: flex;
}

#fieldset1{
    width: fit-content;
    padding: 30px;
}
#fieldset2{
    padding: 30px 50px 30px 50%;
    width: 100%;
    border: 0px;
}

.quote4 {
    text-align: center;
    color: antiquewhite;
    font-size: 75px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.field{
    position: relative;
    height: 52px;
    width: 100%;
    max-width: 150px;
    color: aliceblue;
    overflow: hidden;
}

.field input{
    position: absolute;
    height: 100%;
    width: 250%;
    color: aliceblue;
    line-height: 52px;
    outline: 0;
    background-color: inherit;
    padding-top: 25px;
    border: none;
    box-sizing: border-box;
}

.field .label_wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: inherit;
    left:  0;
    pointer-events: none;
    border-bottom:  1px solid white;
}

.field .label_wrapper::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid aqua;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.field .label_text {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
}

.field input:focus + .label_wrapper .label_text,
.field input:valid + .label_wrapper .label_text{
    font-size: 12px;
    color: aqua;
    transform:  translateY(-150%);
}

.field input:focus + .label_wrapper::after,
.field input:valid + .label_wrapper::after{
    transform:  translateX(0%);
}

button{
    padding: 15px 55px 15px 55px;
    background-color: rgba(31, 66, 98, 0.487);
    color: rgba(255, 255, 255, 0.617);
    font-size: 25px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
}

button:hover{
    font-weight: bolder;
    background-color: rgba(29, 89, 145, 0.698);
    color: rgb(255, 255, 255);
}

.error {
    color: red;
    font-size: 14px;
    text-align: left;
    padding-left: 2%;
    width: 450px;
}