body {
    font-family: 'Montserrat', arial, sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
}

.header {
    background-color: rgba(113, 110, 110, 0.224);
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    margin-top: 7%;
    padding: 0;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: .99em;
    padding: 0px 50px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.navbar a:hover{
    border: 3px solid rgba(255, 255, 255, 0.218);
    border-style: none none solid none;
}

.navbar li {
    display: inline-block;
}

#bottom{
    padding:20px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 14px;
}