@import url("navbarSheet.css");

body {
    background-image: url("https://images.pexels.com/photos/2830828/pexels-photo-2830828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#navSignIn {
    border: 3px solid white;
    border-style: none none solid none;
}

.SignUpHead {
    background-image: url("");
    background-repeat: no-repeat;
    width: initial;
    height: fit-content;
}

.SignUpHead h1 {
    padding: 100px;
    color: white;
    background-color: rgba(23, 22, 22, 0.751);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

form {
    color: white;
    text-align: center;
    font-size: 21px;
}

hr {
    width: 40%;
}

#fieldsetInfo {
    margin: auto auto;
    padding: 20px;
    width: fit-content;
    border: 1px solid rgb(122, 169, 248);
}

#fieldsetInfo input,
#fieldsetInfo textarea,
select {
    border-top: 3px solid aqua;
    padding: 10px;
    font-size: 16px;
}

select {
    width: 460px;
}

select optgroup {
    color: rgba(129, 21, 21, 0.696);
}

#promoApply {
    border-top: 3px solid rgba(4, 30, 77, 0.904);
    background-color: rgb(78, 142, 252);
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    width: 140px;
}

#promoApply:hover, form button:hover {
    background-color: rgb(4, 63, 165);
    color: white;
}

#promoMsg{
    color: aqua;
    border: 1px solid rgba(0, 255, 21, 0.589);
    border-bottom: none;
    font-size: 21px;
    text-align: center;
    padding: 3%;
}

#fieldsetInfo a {
    text-decoration: none;
    float: right;
    font-size: 18px;
    color: rgb(127, 174, 255);
}
#fieldsetInfo a:hover{
    color: rgb(0, 119, 255);
}

#promoContainer {
    display: flex;
}

#fieldsetCheckbox {
    margin: auto auto;
    padding: 20px;
    width: fit-content;
    border: 1px solid rgb(122, 169, 248);
    font-size: 16px;
    width: 460px;
    text-align: justify;
    color: rgba(250, 235, 215, 0.737);
}

form button {
    width: 500px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-top: 3px solid rgba(4, 30, 77, 0.904);
    background-color: rgba(44, 104, 207, 0.829);
    color: white;
}

.error {
    color: rgba(4, 30, 77, 0.904);
    font-size: 14px;
    text-align: left;
    padding-left: 2%;
    width: 450px;
    font-style: italic;
}